.page {
  margin: 0;
  padding: 1.75em 0 1.5em;

  box-sizing: border-box;

  font-family: Inter, sans-serif;

  font-size: 1rem;
  font-weight: normal;
  line-height: 1.63;

  background: #2a2c2f;
  color: #ffffff;

  display: grid;
  grid-template-columns: 3em 1fr 3em;
  grid-template-rows: 3.25rem 1fr min-content;


  grid-template-areas:
    ". header ."
    "main main main"
    ". footer .";
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-columns: 1.5em 1fr 1.5em;
  }
}

@media screen and (max-width: 320px) {
  .page {
    grid-template-columns: 1em 1fr 1em;
  }
}

