.footer__menu-item {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 112%;
  /* identical to box height, or 112% */
}

.footer__menu-item + .footer__menu-item {
  margin: 0 0 0 1.12rem;
}

@media screen and (max-width: 320px) {
  .footer__menu-item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1;
    /* identical to box height, or 100% */
  }

  .footer__menu-item + .footer__menu-item {
    margin: 2rem 0 0;
  }
}
