.lead {
  margin: 0 3rem;
}
@media screen and (min-width: 1279px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .lead {
    margin: 0 9.25rem;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
  }
}
