.cover__subtitle {
  margin: 2rem auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 122%;

  max-width: 38%;
  text-align: center;

  opacity: 1;
  color: #fff;

  z-index: 2;
}

@media screen and (max-width: 960px) {
  .cover__subtitle {
    max-width: 50%;
  }
}

@media screen and (max-width: 620px) {
  .cover__subtitle {
    margin: 1rem auto 0;
    font-size: 0.875rem;
    line-height: 114%;
    max-width: 280px;
  }
}
