.places__text {
  margin: 0 0 1.7rem;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 163%;
  color: #fff;
}

.places__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 980px) {
  .places__text {
    margin: 0 0 1.56rem;
    font-size: 1rem;
  }
}
