.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1184px) {
  .header {
    margin: 0 3rem;
  }
}

@media screen and (max-width: 790px) {
  .header {
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 0 1rem;
  }
}
