.content {
  margin: 3rem 0 5.75rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5.75rem;
}

@media screen and (min-width: 1184px) {
  .content {
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-bottom: 5.5rem;
    gap: 5.5rem;
  }
}

@media screen and (max-width: 320px) {
  .content {
    margin-bottom: 4rem;
    gap: 4rem;
  }
}
