.footer__link {
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: #fff;

  -webkit-transition: opacity 0.3s ease-out 0.1s;
  -moz-transition: opacity 0.3s ease-out 0.1s;
  -ms-transition: opacity 0.3s ease-out 0.1s;
  -o-transition: opacity 0.3s ease-out 0.1s;
  transition: opacity 0.3s ease-out 0.1s;
}

.footer__link:hover {
  opacity: 0.8;
}
