.lead__title {
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
  text-align: center;
  color: #fff;
  max-width: 75%;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 85%;
  }
}

@media screen and (max-width: 920px) {
  .lead__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 732px) {
  .lead__title {
    font-size: 4.5rem;
    max-width: 85%;
  }
}

@media screen and (max-width: 620px) {
  .lead__title {
    font-size: 2.5rem;
    max-width: 50%;
  }
}

@media screen and (max-width: 580px) {
  .lead__title {
    max-width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    max-width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 80%;
  }
}

@media screen and (max-width: 390px) {
  .lead__title {
    max-width: 85%;
  }
}

@media screen and (max-width: 340px) {
  .lead__title {
    max-width: calc(100vw - 2 * 0.125rem);
  }
}
