.lead__title {
  margin: 0 auto;
  padding: 0;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
  text-align: center;

  color: #fff;

  max-width: 680px;
}


@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 2.5rem;

    max-width: 336px;
  }
}

@media screen and (max-width: 610px) {
  .lead__title {
    max-width: 55%;
  }
}

@media screen and (max-width: 510px) {
  .lead__title {
    font-size: 2.5rem;

    max-width: 66%;
  }
}


@media screen and (max-width: 425px) {
  .lead__title {

    max-width: 75%;
  }
}

@media screen and (max-width: 390px) {
  .lead__title {

    max-width: 85%;
  }
}

@media screen and (max-width: 340px) {
  .lead__title {

    max-width: calc(100vw - 2 * 0.125rem);
  }
}
