.places__card {
  margin: 0 0 5rem;
  padding: 0;
  font-size: 0;
  display: grid;
  gap: 3rem 2.5rem;
  grid-template-columns: 1fr minmax(49%, min-content);
  grid-template-areas:
    "title website"
    "image description";
}

.places__card:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .places__card {
    gap: 3rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .places__card {
    margin: 0 0 4.56rem;
    gap: 3rem 1.75rem;
  }
}

@media screen and (max-width: 620px) {
  .places__card {
    margin: 0 0 3.125rem;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "description";
  }
}
