.intro {
  margin: 0 100px;
  max-width: 690px;
}

@media screen and (max-width: 1184px) {
  .intro {
    margin: 0 3rem;
    max-width: calc(100vw - 2 * 3rem);
  }
}

@media screen and (max-width: 790px) {
  .intro {
    margin: 0 1.5rem;
    max-width: calc(100vw - 2 * 1.5rem);
  }
}
@media screen and (max-width: 425px) {
  .intro {
    margin: 0 1rem;
  }
}
