.lead__subtitle {
  margin: 2rem auto 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  max-width: 60%;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    max-width: 70%;
  }
}

@media screen and (max-width: 920px) {
  .lead__subtitle {
    max-width: 78%;
  }
}

@media screen and (max-width: 732px) {
  .lead__subtitle {
    font-size: 1.5rem;
    max-width: 70%;
  }
}

@media screen and (max-width: 620px) {
  .lead__subtitle {
    font-size: 1rem;
    max-width: 50%;
  }
}

@media screen and (max-width: 580px) {
  .lead__subtitle {
    max-width: 55%;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    max-width: 65%;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin: 1rem auto 0;
    max-width: 70%;
  }
}

@media screen and (max-width: 390px) {
  .lead__subtitle {
    max-width: 90%;
  }
}
