.cover {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: calc(100vw / 1.6);
  background-image: url(../../images/cover-trains.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

@media screen and (min-width: 1184px) {
  .cover {
    min-height: calc(1184px / 1.6);
  }
}
