.cover {
  margin: 0 3rem;
  padding: 0;

  position: relative;
  height: calc(100vh - 8em);
  background-image: url(../../images/cover-trains.png);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
  }
}

