.cover__title {
  margin: 0 auto;

  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 106%;

  max-width: 60%;
  text-align: center;

  opacity: 1;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 860px) {
  .cover__title {
    max-width: 67%;
  }
}

@media screen and (max-width: 780px) {
  .cover__title {
    max-width: 75%;
  }
}

@media screen and (max-width: 732px) {
  .cover__title {
    max-width: 80%;
  }
}

@media screen and (max-width: 690px) {
  .cover__title {
    max-width: 85%;
  }
}

@media screen and (max-width: 620px) {
  .cover__title {
    font-size: 2rem;
    line-height: 109%;

    max-width: 255px;
  }
}
